.about {
  display: flex;
  width: 100vw;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: rgba(5, 15, 43, 1);
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color: white;
  justify-content: center;
}

.about h2 {
  color: white;
  text-align: start;
  margin: 0 0 1rem 0;
}

.about h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.ico {
  margin-left: 2rem;
}

.about-section {
  font-size: 1rem;
  line-height: 1.4rem;
  color: rgb(189, 189, 189);
  min-width: 35ch;
  max-width: 75ch;
  padding: 2rem 1rem 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.33);
}
